
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 .my-content {
    position: absolute;
    top: 10%;
    left: 15%;
}

a {text-decoration: none;
    color: black}

a:hover {text-decoration: none}

